[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
behave = "*"
requests = "*"
databricks-sql-connector = "*"
tzdata = "*"
pyspark = "*"

[dev-packages]

[requires]
python_version = "3.12"
